{{- with .Cloud }}
atlas {
  cloud {
    token = "{{ .Token }}"
  {{- if .URL }}
    url = "{{ .URL }}"
  {{- end }}
  }
}
data "remote_dir" "this" {
  name = "{{ .Dir }}"
  {{- if .Tag }}
  tag = "{{ .Tag }}"
  {{- end }}
}
{{- end }}
env {
  name = atlas.env
  url = "{{ .URL }}"
  migration {
{{- with .Cloud }}
    dir = data.remote_dir.this.url
{{- end }}
{{- if .RevisionsSchema }}
    revisions_schema = "{{ .RevisionsSchema }}"
{{- end }}
  }
}